%div.row.justify-content-center.mt-3
  %h2= t('sign_up')
%div.row.justify-content-center.mt-3
  %div.card.col-6.pt-3.pb-3
    = bootstrap_form_for @user do |f|
      = f.text_field :name
      = f.text_field :surname
      = f.email_field :email
      = f.password_field :password
      = f.submit t('sign_up'), class: 'btn btn-success'