!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : t('app_name')

    = csrf_meta_tag
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - if current_user.nil?
      = display_flash_messages
      = yield
    - else
      .app-dashboard.shrink-medium
        = render 'layouts/navbar'
        .app-dashboard-body.off-canvas-wrapper
          = render 'layouts/sidebar'
          .app-dashboard-body-content.off-canvas-content{"data-off-canvas-content" => ""}
            = display_flash_messages
            = yield

